.grid-view {
  display: flex;
  overflow: hidden;
  flex-wrap: wrap;
  margin-top: 60px;
  padding-left: 10px;
  padding-right: 10px;
}

.grid-view.open {
  flex-basis: 100%;
}

.grid-view.close {
  flex-basis: 80%;
}

.grid-item {
  height: 200px;
  flex-grow: 1;
  position: relative;
  display: block;
  margin: 4px;
}

.grid-item-overlay {
  /* transition: .2s ease; */
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.grid-item-image {
  opacity: 1;
  min-width: 100%;
  max-width: 100%;
  height: 100%;
  object-fit: cover;
  /* transition: .2s ease; */
  backface-visibility: hidden;
  border-radius: 3px;
  box-shadow: 0px 0px 2px black;
}

.badge {
  color: #e6e6e6;
  background-color: #4b4b4b
}

.grid-item:hover .grid-item-image {
  opacity: 0.3;
}

.grid-item:hover .grid-item-overlay {
  opacity: 1;
}

* {
  box-sizing: border-box;
}

.content {
  display: flex;
  flex-direction: row-reverse;
}

.topnav {
  position: fixed;
  /* display: flex;
  justify-content: space-between;
  overflow: hidden; */
  background-color: #e6e6e6;
  z-index: 90;
  width: 100%;
  /* height: 50px; */
  margin: 0px;
  padding: 0px;
  border: 0px;
  top: 0px;
  left: 0px;
}

.topnav a {
  margin-top: 6px;
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 6px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav .search-container {
  margin-top: 6px;
  flex-grow: 1;
  padding: 0px;
}

.topnav form {
  display: flex;
  /* or inline-flex */
  flex-wrap: nowrap;
  padding: 0px;
  margin-left: 40px;
  margin-right: 40px;
}

.topnav input[type=text] {
  flex-grow: 1;
  margin-top: 6px;
  margin-bottom: 6px;
  height: 30px;
  border: none;
  margin-left: 0px;
  padding-left: 0px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  background-color: white;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}

.topnav .search-container .space {
  margin-top: 6px;
  margin-bottom: 6px;
  height: 30px;
  border: none;
  width: 5px;
  background-color: white;
}

.topnav .search-container button {
  /* padding: 6px 10px; */
  margin-top: 6px;
  margin-bottom: 6px;
  margin-right: 0px;
  /* background: #ddd; */
  font-size: 17px;
  border: none;
  cursor: pointer;
  background-color: white;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  /*

    border: none;
    color: white;
    text-decoration: none;
    display: inline-block;
  height:30px;
  margin-right: 0px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  margin-top: 6px;
  margin-right: 0px;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer; */
}

.side-menu {
  height: 100%;
  width: 20%;
  left: 0px;
  flex-basis: 20%;
}

.side-fixed {
  position: fixed;
  background-color: #222930;
  color: #E9E9E9;
  z-index: 10;
  height: 100%;
  transition: width .2s ease;
  top: 50px;
  left: 0px;
  box-shadow: 0px 2px 5px black;
}

.side-fixed.open {
  width: 20%;
}

.side-fixed.close {
  width: 0%;
}

/* .side-fixed[data-descr] {
  position: relative;
  text-decoration: underline;
  color: #00F;
  cursor: help;
} */
/* .side-fixed[data-descr]::after {
  content: attr(data-descr);
  position: absolute;
  left: 0;
  top: 24px;
  min-width: 200px;
  border: 1px #aaaaaa solid;
  border-radius: 10px;
  background-color: #ffffcc;
  padding: 12px;
  color: #000000;
  font-size: 14px;
  z-index: 1;
} */
body {
  margin: 0;
  padding: 0;
  background-color: #737373;
}

/* Detail */
.details-view {
  padding-left: 10px;
  padding-right: 10px;
  transition: width .2s ease;
  height: 100%;
}

.details-view.open {
  width: 100%;
}

.details-view.close {
  width: 0%;
}

.details-item {
  padding-top: 10px;
}

.details-item * {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.details-image {
  opacity: 1;
  min-width: 100%;
  max-width: 100%;
  height: 200px;
  object-fit: cover;
  transition: .2s ease;
  backface-visibility: hidden;
}

.details-button {
  border-radius: 0 5px 5px 0;
  right: -1.25em;
  display: block;
  font-size: 1.5em;
  width: 1.5em;
  line-height: 1.5em;
  position: absolute;
  top: 1em;
  /* height: 2em; */
  /* vertical-align: middle; */
  text-align: center;
  background-color: inherit;
  border-width: 1px;
  border-color: inherit;
  cursor: pointer;
  /* box-shadow: 0px 2px 5px black; */
  /* z-index: 9; */
}

.details-button:hover {
  color: #4b4b4b;
  background-color: #cdcdcd;
  border-color: #aeaeae
}

/* Button */
.btn {
  display: inline-block;
  margin-bottom: 0;
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  border-radius: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none
}

.btn:focus, .btn:active:focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn.active.focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px
}

.btn:hover, .btn:focus, .btn.focus {
  color: #4b4b4b;
  text-decoration: none
}

.btn:active, .btn.active {
  outline: 0;
  background-image: none;
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125)
}

.btn.disabled, .btn[disabled], fieldset[disabled] .btn {
  cursor: not-allowed;
  opacity: .65;
  filter: alpha(opacity=65);
  -webkit-box-shadow: none;
  box-shadow: none
}

a.btn.disabled, fieldset[disabled] a.btn {
  pointer-events: none
}

.btn-default {
  color: #4b4b4b;
  background-color: #e6e6e6;
  border-color: #cdcdcd
}

.btn-default:focus, .btn-default.focus {
  color: #4b4b4b;
  background-color: #cdcdcd;
  border-color: #8d8d8d
}

.btn-default:hover {
  color: #4b4b4b;
  background-color: #cdcdcd;
  border-color: #aeaeae
}

.btn-default:active, .btn-default.active, .open>.dropdown-toggle.btn-default {
  color: #4b4b4b;
  background-color: #cdcdcd;
  border-color: #aeaeae
}

.btn-default:active:hover, .btn-default.active:hover, .open>.dropdown-toggle.btn-default:hover, .btn-default:active:focus, .btn-default.active:focus, .open>.dropdown-toggle.btn-default:focus, .btn-default:active.focus, .btn-default.active.focus, .open>.dropdown-toggle.btn-default.focus {
  color: #4b4b4b;
  background-color: #bbb;
  border-color: #8d8d8d
}

.btn-default:active, .btn-default.active, .open>.dropdown-toggle.btn-default {
  background-image: none
}

.btn-default.disabled, .btn-default[disabled], fieldset[disabled] .btn-default, .btn-default.disabled:hover, .btn-default[disabled]:hover, fieldset[disabled] .btn-default:hover, .btn-default.disabled:focus, .btn-default[disabled]:focus, fieldset[disabled] .btn-default:focus, .btn-default.disabled.focus, .btn-default[disabled].focus, fieldset[disabled] .btn-default.focus, .btn-default.disabled:active, .btn-default[disabled]:active, fieldset[disabled] .btn-default:active, .btn-default.disabled.active, .btn-default[disabled].active, fieldset[disabled] .btn-default.active {
  background-color: #e6e6e6;
  border-color: #cdcdcd
}

/* H */
h1 {
  font-size: 30px;
}

h1:nth-child(1) {
  margin-top: 0px;
}

h2 {
  font-size: 26px
}

h2:nth-child(1) {
  margin-top: 0px;
}

.csc-header h2 {
  margin-top: 5px;
  margin-bottom: 20px;
}

h3 {
  font-size: 24px
}

h3.profileinstellungen {
  margin-top: 30px;
}

h4 {
  font-size: 20px;
}
