:root {
  --item-height: 200px;
  --item-width: auto;
}

.max-w {
  max-width: 650px;
}

.v-list-item {
  min-height: auto;
}

.v-list-item > .v-btn {
  text-transform: inherit;
  justify-content: left;
  width: 100%;
}

.v-menu__content {
  margin-top: 5px;
}

header .v-text-field .v-input__slot {
  margin-bottom: 0;
}

header .v-text-field__details {
  display: none;
}

main .v-image__image--cover,
main .v-image__image--contain,
.v-dialog .v-image__image--cover,
.v-dialog .v-image__image--contain {
  transform: scale(1.05);
}

.v-card .img-wrapper {
  position: relative;
}

.v-card .v-card__title {
  word-break: inherit;
}

.v-card .v-card__title > div {
  display: block;
  width: 100%;
}

.v-card > i.v-icon {
  position: absolute;
  right: 12px;
}

.v-icon.shadow {
  text-shadow: #000000 0 0 7.5px;
}

.v-chip i.v-icon {
  margin-bottom: 2px;
}

.v-btn > span > span {
  padding-top: 1px;
}

.theme--dark .v-bar--underline, 
.theme--light .v-bar--underline {
  border-bottom: thin solid rgba(0,0,0,.12) !important;
}

.text--center {
  text-align: center;
}

.v-btn.title--click {
  transition: border-color 0.2s ease;
  border-bottom: thin dotted #ffffff;
  letter-spacing: normal;
  text-transform: none;
  text-indent: inherit;
  font-size: inherit;
  font-weight: 400;
}

.v-btn.title--click:hover {
  border-bottom: thin dotted #9e9e9e;
}

.v-text-field__details,
.v-text-field__details > div {
  min-height: 0;
}

.v-input__slider .v-text-field__slot {
  width: 50px;
}

.v-input__slider .v-messages {
  display: none;
}

.v-input__slider .v-input__append-outer {
  margin-top: -1px;
}

.login .text--center > .v-btn {
  padding: 0 5px;
}

.zoom {
  justify-content: center;
  position: fixed;
  display: flex;
  width: 100%;
  z-index: 4;
  bottom: 10px;
  left: 0;
}

.zoom .theme--light.v-btn.v-btn--disabled:not(.v-btn--flat):not(.v-btn--text):not(.v-btn--outlined) {
  background-color: #f5f5f5 !important;
}

.grid-view {
  flex-grow: 1;
  display: flex;
  overflow: hidden;
  flex-wrap: wrap;
  transition: flex-basis .2s ease;
}

.grid-view.open {
  flex-basis: 80%;
}

.grid-item {
  height: var(--item-height);
  width: var(--item-width);
  flex-grow: 1;
  position: relative;
  display: block;
  margin: 2px;
  overflow: hidden;
  border-radius: 2px;
}

.grid-item[disabled] {
  display: none;
}

.grid-item:last-child {
  max-width: 400px;
}

.grid-item > img {
  transition: transform .5s ease;
  transform: scale(1.05);
  object-fit: cover;
  min-width: 100%;
  max-width: 100%;
  height: 100%;
  opacity: 1;
}

.grid-item:hover > img {
  transform: scale(1.4);
}

.grid-item > .overlay {
  background: linear-gradient(to top, black, #00000000 50%);
  transform: translate(-50%, -50%);
  transition: opacity .25s ease;
  position: absolute;
  object-fit: cover;
  min-width: 100%;
  max-width: 100%;
  color: #ffffff;
  height: 100%;
  top: 50%;
  left: 50%;
  opacity: 0;
}

.grid-item:hover > .overlay {
  opacity: 1;
}

.grid-item > .overlay .meta {
  position: absolute;
  padding: 5px 10px;
  width: 100%;
  bottom: 0;
  left: 0;
}

.grid-item > .overlay .meta * {
  text-overflow: ellipsis;
  white-space: nowrap;
  line-height: 1.35rem;
  overflow: hidden;
  font-weight: 400;
}

.grid-item > .overlay .view {
  text-shadow: 0 0 5px black;
  padding: 5px 5px 0 0;
  text-align: right;
}

.v-autocomplete__content {
  max-height: initial !important;
  margin-top: 7px;
}

.v-autocomplete__content > .v-list {
  padding: 6px;
}

.v-select.v-select--is-menu-active .v-input__icon--append .v-icon {
  transform: none;
}

.v-application--is-ltr .v-text-field .v-input__prepend-inner {
  padding-right: 9px;
}

.v-select__selections .v-chip--select {
  margin-left: 0;
}

.v-application--is-ltr .v-select__selections .v-chip .v-icon--left {
    margin-left: -4px;
    margin-right: 4px;
}

.v-select__selections .v-chip i.v-icon,
.v-chip__content .v-btn.search i.v-icon {
    margin-bottom: 0;
}

.v-select__selections .v-chip__content span[title] {
  text-overflow: ellipsis;
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  max-width: 150px;
  vertical-align: middle;
  margin-bottom: 1px;
}

.v-select__selections .v-chip__content i.v-icon::before {
  margin-bottom: 1px;
}

.v-dialog .v-chip__content > span {
  margin-bottom: 1px;
}

.v-dialog .v-btn.search {
  min-width: auto;
  height: auto;
  padding: 0;
}

.v-dialog .v-btn.search i.v-icon {
  margin-right: -4px;
}

.v-dialog .v-btn.search:hover,
.v-dialog .v-btn.search:focus,
.v-dialog .v-btn.search:active,
.v-dialog .v-btn.search::before,
.v-dialog .v-btn.search:hover::before,
.v-dialog .v-btn.search:focus::before,
.v-dialog .v-btn.search:active::before,
.v-dialog .v-btn.search:hover span,
.v-dialog .v-btn.search:focus span,
.v-dialog .v-btn.search:active span {
  background-color: transparent;
}

.v-dialog .grey--text .v-btn.search i.v-icon {
  color: #bdbdbd !important;
}

.v-menu__content.image {
  margin-top: 44px;
}

.v-menu__content.image .v-input--switch {
  margin-top: 0;
}

.v-menu__content.image .v-input__slot {
  margin-bottom: 0;
}

.v-menu__content.meta,
.v-menu__content.annotations,
.v-menu__content.image .v-messages {
  display: none;
}

.svg-container {
  display: inline-block;
  position: relative;
  width: 100%;
  padding-bottom: 100%; /* aspect ratio */
  vertical-align: top;
  overflow: hidden;
}
