{% load static %}
<!DOCTYPE html>
<html>
{% csrf_token %}

<head>
  <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">

  <link href="{% static 'css/materialdesignicons.min.css' %}" rel="stylesheet">
  <link href="{% static 'css/iart.css' %}" rel="stylesheet">

  <script>
    const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;

    function csrfSafeMethod(method) {
      // these HTTP methods do not require CSRF protection
      return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }

    var url_search = '{% url "search" %}';
    var url_search_result = '{% url "search_result" %}';
    var url_autocomplete = '{% url "autocomplete" %}';
    var url_upload = '{% url "upload" %}';
  </script>

  <!-- <script src="{% static 'js/vuex.js' %}"></script> -->
  <!-- <script src="{% static 'js/vuetify.js' %}"></script> -->
</head>

<body>
  <div id="app">
  </div>

  <script src="{% static 'dist/main.js' %}"></script>
  <!-- <script src="{% static 'js/iart.js' %}"></script> -->
</body>

</html>