{% load static %} {% load i18n %} {% get_current_language as LANGUAGE_CODE %}

<!DOCTYPE html>
<html lang="en" dir="ltr">

  <head>
    <meta charset="utf-8">
    <title></title>
    <!-- CSS -->

    <!-- <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}"> -->
    <!-- <link rel="stylesheet" href="{% static 'css/dashboard.css' %}"> -->
    <link rel="stylesheet" href="{% static 'css/iart.css' %}">

    <!-- JS -->

    <script defer src="{% static 'js/fontawesome-all.js' %}"></script>
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/d3.min.js' %}"></script>
    <script src="{% static 'js/tether.min.js'%}"></script>
    <script src="{% static 'js/bootstrap.min.js'%}"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> {% csrf_token %}
    <!-- Script -->
    <script>
      // using jQuery
      function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie !== '') {
          var cookies = document.cookie.split(';');
          for (var i = 0; i < cookies.length; i++) {
            var cookie = jQuery.trim(cookies[i]);
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
              cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
              break;
            }
          }
        }
        return cookieValue;
      }
      var csrftoken = getCookie('csrftoken');

      function csrfSafeMethod(method) {
        // these HTTP methods do not require CSRF protection
        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
      }

      $.ajaxSetup({
        beforeSend: function(xhr, settings) {
          if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
            xhr.setRequestHeader("X-CSRFToken", csrftoken);
          }
        }
      });


      var url_search = '{% url "search" %}';
      var url_autocomplete = '{% url "autocomplete" %}';

      var current_element = null;


      /* beautify preserve:start */
      var query = {{ query|safe }}
      var search_val = null;
        /* beautify preserve:end */
    </script>

  </head>

  <body>
    <div class="topnav">
      <a class="active" href="#home"><img src="{% static 'img/logo.svg'%}" /></a>
      <div class="search-container">
        <form id="search-bar">
          <button type="submit"><i class="fa fa-search"></i></button>
          <div class="space"></div>
          <input id="search-input" type="text" placeholder="Search.." name="query" autocomplete="off"></input>

          <div class="autocompletion-list">
        </form>

      </div>
    </div>
    </div>

    {% block content %} {% endblock %}
  </body>
  <script>
    function create_details(entry) {
      console.log('create_details');
      console.log(entry);
      var container = d3.select('#details-view').append('div');
      var image = container.append('div').attr('class', 'details-item').append('img').attr('src', function(d) {
        return entry.path;
      }).classed('details-image', true);
      // Infobox
      if (entry.hasOwnProperty('meta')) {
        var info = container.append('div').attr('class', 'details-item details-info');
        meta = entry.meta;
        if (meta.hasOwnProperty('title')) {
          info.append('h1').text(entry.meta.title);
        } else {
          info.append('h1').text('unknown');
        }
        if (meta.hasOwnProperty('artist_name')) {
          info.append('spam').text('by ' + entry.meta.artist_name);
        }
      }
      console.log(JSON.stringify(entry));
      if (entry.hasOwnProperty('classifier')) {
        var tags = container.append('div').attr('class', 'details-item details-tags');
        // classifier
        var classifier = tags.selectAll('div').data(entry.classifier).enter().append('div');

        // annotations
        classifier.selectAll('p').data(function(d) {
          return d.annotations;
        }).enter().append('span').classed('badge', true).text(function(d) {
          return d.name;
        });


      }
      var menu = container.append('div').attr('class', 'details-item details-menu');
    }

    function clean_details() {
      console.log('clean_details');
      d3.select('#details-view').selectAll('div').remove();
    }


    function create_list(entries) {
      console.log('create_list');
      console.log(entries);
      var grid_items = d3.select('#gallery').selectAll('div').data(entries).enter().append('div').classed('grid-item', true);

      grid_items.on("click", function(d) {
        get_entry(d.id, function(e) {
          clean_details();
          if (e.status == "ok") {
            create_details(e.entry);
            show_details();
          }
        });
      });


      var image = grid_items.append('img').attr('src', function(d) {
        return d.path;
      }).classed('grid-item-image', true);

      var overlay = grid_items.append('div').classed('grid-item-overlay', true);

      // // classifier
      // var classifier = overlay.selectAll('div').data(function(d) {
      //   return d.classifier;
      // }).enter().append('div');
      //
      // // annotations
      // classifier.selectAll('p').data(function(d) {
      //   return d.annotations;
      // }).enter().append('span').classed('badge', true).text(function(d) {
      //   return d.name;
      // });
    }

    function show_details() {
      $('.details-button').show();
      $('.side-fixed').addClass("open").removeClass("close"); // blendet beim Klick auf "dt" die
      $('.grid-view').addClass("close").removeClass("open"); // blendet beim Klick auf "dt" die
    }

    function toggle_details() {
      $('.side-fixed').toggleClass("open close"); // blendet beim Klick auf "dt" die
      $('.grid-view').toggleClass("open close"); // blendet beim Klick auf "dt" die

    }

    function clean_list() {
      console.log('clean_list');
      d3.select('#gallery').selectAll('div').remove();
    }

    function search(query, callback) {
      $.ajax({
        url: '{% url "search" %}',
        data: {
          'query': JSON.stringify(query)
        },
        contentType: 'application/x-www-form-urlencoded',
        dataType: 'json',
        type: 'POST',
        success: callback
      });
    }

    function autocomplete(query, callback) {
      $.ajax({
        url: '{% url "autocomplete" %}',
        data: {
          'query': JSON.stringify(query)
        },
        contentType: 'application/x-www-form-urlencoded',
        dataType: 'json',
        type: 'POST',
        success: callback
      });
    }

    function create_autocompletion(entries) {
      console.log('create_autocompletion');
      var lists = d3.select('.autocompletion-list').append('ul').selectAll('li').data(entries).enter().append('li').append('ul');

      var categories = lists.append('li').attr('class', 'autocompletion-list-categories');

      categories.append('div').attr('class', 'cat-symbol').append('i').attr('class', function(d) {
        if (d.type == 'annotations') {
          return 'fa fa-tags';
        }
        if (d.type == 'meta') {
          return 'fa fa-info';
        }

      });

      categories.append('span').text(function(d) {
        if (d.type == 'annotations') {
          return 'Tags';
        }
        if (d.type == 'meta') {
          return 'Info';
        }
      });
      var suggestions = lists.append('li').append('ul').selectAll('li').data(function(d) {
        console.log(JSON.stringify(d));
        return d.options;
      }).enter().append('li').attr('class', function(d) {
        if (d.active) {
          return 'autocompletion-item active'

        }
        return 'autocompletion-item'
      }).text(function(d) {
        return d.value;
      });

    }

    function clean_autocompletion() {
      console.log('clean_autocompletion');
      d3.select('.autocompletion-list').selectAll('ul').remove();
    }

    function get_entry(id, callback) {
      $.ajax({
        url: '{% url "details" %}',
        data: {
          'id': id
        },
        contentType: 'application/x-www-form-urlencoded',
        dataType: 'json',
        type: 'POST',
        success: callback
      });
    }

    $("#search-bar").submit(function(e) {
      console.log('search');
      e.preventDefault();
      // delete autocompletion
      clean_autocompletion();
      search_val = $('#search-input').val();
      search({
        'tag': $('#search-input').val()
      }, function(data) {
        clean_list();
        if (data.status == "ok") {
          create_list(data.entries);
        }
      });
    });





    $("#search-input").on("paste keyup", function(e) {
      console.log('autocomplete');
      if (e.which == 38) {
        console.log('up');
        var current = $('.autocompletion-item.active:last');
        var old_index = 0;
        $('.autocompletion-item').each(function(i, e) {
          if ($('.autocompletion-item:eq(' + i + ')').is(current)) {
            old_index = i;
          }
        });
        new_index = Math.max(old_index - 1, 0);
        $('.autocompletion-item:eq(' + old_index + ')').toggleClass('active');
        $('.autocompletion-item:eq(' + new_index + ')').toggleClass('active');
        $('#search-input').val($('.autocompletion-item:eq(' + new_index + ')').text());

        return;
      } // up


      if (e.which == 40) {
        console.log('down');
        var current = $('.autocompletion-item.active:last');
        var old_index = 0;
        $('.autocompletion-item').each(function(i, e) {
          if ($('.autocompletion-item:eq(' + i + ')').is(current)) {
            old_index = i;
          }
        });
        new_index = Math.min(old_index + 1, $('.autocompletion-item').length - 1);
        $('.autocompletion-item:eq(' + old_index + ')').toggleClass('active');
        $('.autocompletion-item:eq(' + new_index + ')').toggleClass('active');
        $('#search-input').val($('.autocompletion-item:eq(' + new_index + ')').text());
        console.log('down_end');
        return;
      } // up

      current_search_val = $('#search-input').val()
      if (search_val != current_search_val && current_search_val) {
        console.log('SSSSSSUUSUSUSSUSUSUSUSUUS');
        console.log(search_val);
        console.log(current_search_val);
        autocomplete($('#search-input').val(), function(data) {
          clean_autocompletion();
          if (data.status == "ok") {
            // append current input for all
            current = [{
              'type': null,
              'options': [current_search_val]
            }];
            current = current.concat(data.autocompletion);

            var result = [];
            for (var i = 0; i < current.length; i++) {
              var options = [];
              for (var j = 0; j < current[i].options.length; j++) {
                var active = false;
                if (!current[i].type) {
                  active = true;
                }
                options.push({
                  'type': current[i].type,
                  'active': active,
                  'value': current[i].options[j]
                })
              }
              result.push({
                'type': current[i].type,
                'options': options
              })
            }
            search_val = current_search_val;
            create_autocompletion(result);
          }
        });
      }

      console.log(current_search_val);
      if (!current_search_val) {
        console.log('delete');
        clean_autocompletion();
      }



    });

    $(".details-button").on('click', function() { // trigger
      $('.side-fixed').toggleClass("open close"); // blendet beim Klick auf "dt" die
      $('.grid-view').toggleClass("open close"); // blendet beim Klick auf "dt" die
    });


    //  todo find a better way to do that
    $(document).ready(function() {
      search(query, function(data) {
        if (data.status == "ok") {
          create_list(data.entries);
        }
      });
      console.log("ready!");
    });
  </script>

</html>