{% load static %} {% load i18n %} {% get_current_language as LANGUAGE_CODE %}

<!DOCTYPE html>
<html lang="en" dir="ltr">

  <head>
    <meta charset="utf-8">
    <title></title>
    <!-- CSS -->

    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <!-- <link rel="stylesheet" href="{% static 'css/dashboard.css' %}"> -->
    <link rel="stylesheet" href="{% static 'css/iart.css' %}">

    <!-- JS -->

    <script defer src="{% static 'js/fontawesome-all.js' %}"></script>
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/d3.min.js' %}"></script>
    <script src="{% static 'js/tether.min.js'%}"></script>
    <script src="{% static 'js/bootstrap.min.js'%}"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> {% csrf_token %}
    <!-- Script -->
    <script>
      // using jQuery
      function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie !== '') {
          var cookies = document.cookie.split(';');
          for (var i = 0; i < cookies.length; i++) {
            var cookie = jQuery.trim(cookies[i]);
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
              cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
              break;
            }
          }
        }
        return cookieValue;
      }
      var csrftoken = getCookie('csrftoken');

      function csrfSafeMethod(method) {
        // these HTTP methods do not require CSRF protection
        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
      }

      $.ajaxSetup({
        beforeSend: function(xhr, settings) {
          if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
            xhr.setRequestHeader("X-CSRFToken", csrftoken);
          }
        }
      });


      var url_search = '{% url "search" %}';
      var url_suggestion = '{% url "suggestion" %}';

      var current_element = null;


      /* beautify preserve:start */
      var query = {{ query|safe }}
        /* beautify preserve:end */
    </script>

  </head>

  <body>
    <div class="topnav">
      <a class="active" href="#home"><img src="{% static 'img/logo.svg'%}" /></a>
      <div class="search-container">
        <form id="search-bar">
          <button type="submit"><i class="fa fa-search"></i></button>
          <div class="space"></div>
          <input id="search-input" type="text" placeholder="Search.." name="query" autocomplete="off"></input>
        </form>
      </div>
    </div>

    {% block content %} {% endblock %}
  </body>
  <script>
    function create_detail(entry) {
      console.log('create_detail');
      console.log(entry);
      var container = d3.select('#detail-view').append('div');
      var image = container.append('div').attr('class', 'detail-item').append('img').attr('src', function(d) {
        return entry.path;
      }).classed('detail-image', true);
      // Infobox
      if (entry.hasOwnProperty('meta')) {
        var info = container.append('div').attr('class', 'detail-item detail-info');
        meta = entry.meta;
        if (meta.hasOwnProperty('title')) {
          info.append('h1').text(entry.meta.title);
        } else {
          info.append('h1').text('unknown');
        }
        if (meta.hasOwnProperty('artist_name')) {
          info.append('spam').text('by ' + entry.meta.artist_name);
        }
      }
      console.log(JSON.stringify(entry));
      if (entry.hasOwnProperty('classifier')) {
        console.log('####################');
        var tags = container.append('div').attr('class', 'detail-item detail-tags');
        // classifier
        var classifier = tags.selectAll('div').data(entry.classifier).enter().append('div');

        // annotations
        classifier.selectAll('p').data(function(d) {
          return d.annotations;
        }).enter().append('span').classed('badge', true).text(function(d) {
          return d.name;
        });


      }
      var menu = container.append('div').attr('class', 'detail-item detail-menu');
    }

    function clean_detail() {
      console.log('clean_detail');
      d3.select('#detail-view').selectAll('div').remove();
    }


    function create_list(entries) {
      console.log('create_list');
      console.log(entries);
      var grid_items = d3.select('#gallery').selectAll('div').data(entries).enter().append('div').classed('grid_item', true);

      grid_items.on("click", function(d) {
        get_entry(d.id, function(e) {
          clean_detail();
          if (e.status == "ok") {
            create_detail(e.entry);
          }
        });
      });


      var image = grid_items.append('img').attr('src', function(d) {
        return d.path;
      }).classed('grid_item_image', true);

      var overlay = grid_items.append('div').classed('grid_item_overlay', true);

      // classifier
      var classifier = overlay.selectAll('div').data(function(d) {
        return d.classifier;
      }).enter().append('div');

      // annotations
      classifier.selectAll('p').data(function(d) {
        return d.annotations;
      }).enter().append('span').classed('badge', true).text(function(d) {
        return d.name;
      });
    }

    function clean_list() {
      console.log('clean_list');
      d3.select('#gallery').selectAll('div').remove();
    }

    function search(query, callback) {
      $.ajax({
        url: '{% url "search" %}',
        data: {
          'query': JSON.stringify(query)
        },
        contentType: 'application/x-www-form-urlencoded',
        dataType: 'json',
        type: 'POST',
        success: callback
      });
    }

    function suggestion(query, callback) {
      $.ajax({
        url: '{% url "suggestion" %}',
        data: {
          'query': JSON.stringify(query)
        },
        contentType: 'application/x-www-form-urlencoded',
        dataType: 'json',
        type: 'POST',
        success: callback
      });
    }

    function get_entry(id, callback) {
      $.ajax({
        url: '{% url "detail" %}',
        data: {
          'id': id
        },
        contentType: 'application/x-www-form-urlencoded',
        dataType: 'json',
        type: 'POST',
        success: callback
      });
    }

    $("#search-bar").submit(function(e) {
      console.log('search');
      e.preventDefault();
      search({
        'tag': $('#search-input').val()
      }, function(data) {
        clean_list();
        if (data.status == "ok") {
          create_list(data.entries);
        }
      });
    });

    $("#search-input").on("change paste keyup", function() {
      console.log('suggestion');
      suggestion({
        'tag': $('#search-input').val()
      });
    });

    $(document).ready(function() {
      search(query, function(data) {
        if (data.status == "ok") {
          create_list(data.entries);
        }
      });
      console.log("ready!");
    });
  </script>

</html>