{% extends 'base.html' %}

{% block content %}


<div id="gallery" class="grid_view">

</div>

<script>
  function search(query, callback) {
    $.ajax({
      url: '{% url "search" %}',
      data: {
        'query': JSON.stringify(query)
      },
      contentType: 'application/x-www-form-urlencoded',
      dataType: 'json',
      type: 'POST',
      success: callback
    });
  }

  function create_list(entries) {
    console.log('test');
    var grid_items = d3.select('#gallery').selectAll('div').data(entries).enter().append('div').classed('grid_item', true);


    var image = grid_items.append('img').attr('src', function(d) {
      return d.path;
    }).classed('grid_item_image', true);

    var overlay = grid_items.append('div').classed('grid_item_overlay', true);

    // classifier
    var classifier = overlay.selectAll('div').data(function(d) {
      return d.classifier;
    }).enter().append('div');

    // annotations
    classifier.selectAll('p').data(function(d) {
      return d.annotations;
    }).enter().append('span').classed('badge', true).text(function(d) {
      return d.name;
    });
  }

  $(document).ready(function() {
    search(query, function(data) {
      if (data.status == "ok") {
        create_list(data.entries);
      }
    });
    console.log("ready!");
  });


  /* beautify preserve:start */
  var query = {{ query|safe }}
  /* beautify preserve:end */
</script>

{% endblock %}