{% load static %}
<!DOCTYPE html>
<html>

  <head>
    <link rel="stylesheet" href="{% static 'css/iart.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <script>
      // using jQuery
      function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie !== '') {
          var cookies = document.cookie.split(';');
          for (var i = 0; i < cookies.length; i++) {
            var cookie = cookies[i].trim();
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
              cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
              break;
            }
          }
        }
        return cookieValue;
      }
      var csrftoken = getCookie('csrftoken');

      function csrfSafeMethod(method) {
        // these HTTP methods do not require CSRF protection
        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
      }


      var url_search = '{% url "search" %}';
      var url_autocomplete = '{% url "autocomplete" %}';
      console.log('######################');
      console.log(url_autocomplete);
    </script>

    <!-- <script defer src="{% static 'js/fontawesome-all.js' %}"></script> -->
    <script src="{% static 'js/vue.js' %}"></script>
    <script src="{% static 'js/vuex.js' %}"></script>
  </head>

  <body>
    <div id="app">
    </div>

    <script src="{% static 'js/iart.js' %}"></script>
  </body>

</html>